<div class="popup popup-about">
  <div class="close-button close-popup">＊</div>
  <div class="pmenu menu1">
    <div class="aisatsu">
      <p>
      拝啓　春陽の候 皆様におかれましては益々ご健勝のこととお慶び申し上げます<br>
      私たちは平成26年11月11日に入籍し 新生活をスタートさせました<br>
      つきましては ご挨拶を兼ねまして<br>
      ささやかですが小宴を催したいと存じます<br>
      ご多用中 誠に恐縮ではございますが<br>
      ぜひご出席をいただきたく ご案内申し上げます</p>
      <p class="keigu">敬具</p>
      <br>
      <p>平成27年4月吉日<br>
      細川貴英<br>
      吉田美里<br>
      </p>
    </div>
  </div>
  <div class="pmenu menu3">
    <div class="list-block">
      <ul>
        <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label">コード</div>
            <div class="item-input">
              <input class="invite" type="text" placeholder="6桁の数字を入力">
            </div>
          </div>
        </div>
        </li>
        <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label guest"></div>
            <div class="item-input">
              <input class="guest-name" type="text" placeholder="">
            </div>
          </div>
        </div>
        </li>
        <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label">参加</div>
            <div class="item-input">
              <label class="label-switch">
                <input class="attend" type="checkbox">
                <div class="checkbox"></div>
              </label>
            </div>
          </div>
        </div>
        </li>
        <p class="my-button submit">送信</p>
      </ul>
    </div>
  </div>
</div>

<div class="panel-overlay"></div>

<!-- Left Panel with Reveal effect -->
<div class="panel panel-left panel-reveal">
  <div class="content-block">
    <ul class="menu">
      <li id="1" class="open-popup">ごあいさつ</li>
      <li id="2" class="open-popup">コンセプト</li>
      <li id="3" class="open-popup">出席確認</li>
      <li id="4" class="open-popup">会場地図</li>
    </ul>
  </div>
</div>

<!-- Right Panel with Cover effect -->
<div class="panel panel-right panel-cover">
  <div class="content-block">
    <p>Right Panel content here</p>
    <!-- Click on link with "close-panel" class will close panel -->
    <p><a href="#" class="close-panel">Close me</a></p>
    <!-- Click on link with "open-panel" and data-panel="left" attribute will open Left panel -->
    <p><a href="#" data-panel="left" class="open-panel">Open Left Panel</a></p>
  </div>
</div>

<div class="views">
  <div class="view view-main">
    <div class="page-content">
      <div class="content-block">
        <div class="menu-button open-panel">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="key open-panel">
          <p>＊</P>
          <p>8</P>
        </div>
        <%= image_tag "kekkon.png", class: "top-image" %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(".page-content").snowfall({
flakeCount :20, // 数
flakeIndex : 99999, // スタイルシートのz-indexの値
maxSpeed : 3, // 最大速度
minSpeed : 1, // 最小速度
maxSize  : 20, // 最大サイズ
minSize  : 1, // 最小サイズ
image : '/images/ast.gif'
});
</script>
