// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
  font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}

.panel {
  li {
    padding: 20px;
    color: #fff;
    cursor: pointer;
  }
}

.page-content {
  background: #a00;
  background-position: center;
  overflow: hidden;
  .menu-button {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    padding: 30px;
    cursor: pointer;
    .line {
      background: #fff;
      margin: 5px;
      height: 5px;
      width: 30px;
    }
  }
  .top {
    width: 95%;
    margin: 0 auto;
    div {
      color: #000;
      p {
        background: rgba(255, 255, 255, .95);
      }
    }
    .top1 {
      font-size: 210%;
      font-weight: bold;
      p {
        padding-top: 10px;
      }
    }
    .top2 {
      margin-top: 6px;
      font-size: 140%;
      width: 190px;
      p {
        padding: 4px;
      }
    }
    .top3 {
      margin-top: 6px;
      font-size: 140%;
      width: 110px;
      p {
        padding: 4px;
      }
    }
  }
  .key {
    display: none;
    width: 200px;
    margin: 0 auto;
    p {
      text-align: center;
      color: #fff;
    }
  }
  .names {
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    background: rgba(255, 255, 255, .95);
    font-size: 140%;
    color: #000;
    width: 100%;
    background: rgba(255, 255, 255, .95);
    z-index: 5;
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }
  .chu {
    margin: 0 auto;
    padding: 2px;
    position: absolute;
    bottom: 10px;
    color: #fff;
    z-index: 10;
    font-size: 60%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: rgba(0, 0, 0, .5);
  }
  .title {
    padding: 20px 0;
    font-size: 150%;
  }
  .exp {
  }
}

.popup {
  .close-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    color: #999;
    font-size: 200%;
    cursor: pointer;
    z-index: 1000;
  }
  .aisatsu {
    padding: 40px;
    line-height: 130%;
    .info {
      margin: 15px;
      padding: 10px;
      background: #fdd;
    }
    .keigu {
      text-align: right;
    }
    .keyboard {
      margin: 14px auto;
      width: 100%;
    }
  }
  .my-button {
    width: 85%;
    margin: 20px auto;
    border-radius: 8px;
    background: #0a0;
    color: #fff;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  .item-input {
    text-align: right;
    padding-right: 15px;
  }
}


.top-image {
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 1;
}


.view-main .content-block {
  margin: 0;
  padding: 0;
}

.list-block ul:before {
  background: none;
}
.list-block ul:after {
  background: none;
}

